.task-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 50px;
  overflow-y: auto;
}
.tasks {
  display: flex;
  flex-direction: row;
}

.task {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  margin-bottom: 10px;
  width: 475px;
  height: 34px;
  margin-right: 20px;
}
.trash {
  font-size: 22px;
  position: relative;
  top: 5px;
  cursor: pointer;
}
.checked {
  text-decoration: line-through;
}
.check {
  height: 34px;
  width: 20px;
  position: relative;
  bottom: 4px;
}
