footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px;
  text-align: center;
}

footer > p > a {
  text-decoration: none;
  font-weight: 700;
}
footer {
  color: black;
}

.dark-mode footer {
  color: white;
}
.dark-mode footer > p > a {
  color: white;
}
